- if processing.in_progress?
  .progress
  .progress-bar.bg-success.progress-bar-striped.active[
    role="progressbar" aria-valuenow="10" aria-valuemin="0"
    aria-valuemax="100" style="width:0%"]
  script src = "#{processing.ws_javascript}"
  javascript:
    var channel = "#{processing.ws_channel_id}";
    var client = new Faye.Client("#{processing.ws_route}");
    var bar = document.getElementsByClassName("progress-bar")[0];
    var reg = /\:(\d+)%/
    client.subscribe('/' + channel, function(message) {
      // Collect progressbar element and percentage
      var progress = bar.getAttribute("style")
      var currentProgress = reg.exec(progress)[1]
      
      if (isNaN(message)) {
        bar.setAttribute("style", "width:100%")
        bar.setAttribute("class", "progress-bar bg-danger progress-bar-striped")
        bar.innerHTML = message
      } else {
        if (parseInt(message) > parseInt(currentProgress)) {
          // Set the progress bar and percentage
          bar.setAttribute("aria-valuenow", message)
          bar.setAttribute("style", "width:"+message+"%")
          bar.innerHTML = message+"%"

          // Reload page at 100%
          if (message == "100") {
            setTimeout(function () {
              window.location.reload()
            }, 500);
          }
        }
      }
    });
-  else
  .row.align-items-center
    .col-12
      h3.title.mb-0
        = video_info.video_title
      span
        = video_info.published_date 
        = " - "
        = video_info.author_name
        
    .col-12.col-md-7.col-lg-7.col-xl-6
      iframe width="100%" height="350" src="https://www.youtube.com/embed/#{video_info.origin_id}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen
    .col-12.col-md-5.col-lg-5.col-xl.6.text-center
      #container

  hr

  .comments.mt-4
    h4 
      = "Comments"
      i.fa-solid.fa-rotate.text-primary.ms-2

    a class="btn m-1 btn-primary" href="/"  All
    a class="btn m-1 btn-outline-primary" href="/"  Positive
    a class="btn m-1 btn-outline-primary" href="/"  Neutral 
    a class="btn m-1 btn-outline-primary" href="/"  Negative

    - video_info.comments.each do |comment|
      .row.mb-4.mt-2
        .col-auto.pt-1
          - if comment.positive?
            i.fa-solid.fa-face-smile-beam.text-success
          - if comment.neutral?
            i.fa-solid.fa-face-meh-blank.text-secondary
          - if comment.negative?
            i.fa-solid.fa-face-frown.text-danger
          - if comment.mixed?
            i.fa-solid.fa-face-grimace.text-warning
        .col
          .comment-info
            span
              = comment.published_date 
              = " - "
              = comment.author_name
            img.ms-1 height="15" alt="#{comment.language_name}" src="https://www.unknown.nu/flags/images/#{comment.language_code}-100"
            span.ms-1
              = " - "
              = comment.language_name
          = comment.text_original

  javascript: 
    var pieColors = ["#5db85b", "#ffc008", "#d9534f", "#4e5d6c"];

    // Build the chart
    Highcharts.chart('container', {
      chart: {
        plotBackgroundColor: "#0f2537",
        type: 'pie'
      },
      title: {
        text: '#{video_info.comments_summary[:title]}'
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      accessibility: {
        point: {
          valueSuffix: '%'
        }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          colors: pieColors,
          dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b><br>{point.percentage:.1f} %'
          }
        }
      },
      series: [{
        name: 'Comments',
        data: [
          { name: 'Positive', y: #{video_info.comments_summary[:positive_count]} },
          { name: 'Mixed', y: #{video_info.comments_summary[:mixed_count]}},
          { name: 'Negative', y: #{video_info.comments_summary[:negative_count]} },
          { name: 'Neutral', y: #{video_info.comments_summary[:neutral_count]} }
        ]
      }]
    });
  

  