- if processing.in_progress?
  .progress
  .progress-bar.bg-success.progress-bar-striped.active[
    role="progressbar" aria-valuenow="10" aria-valuemin="0"
    aria-valuemax="100" style="width:0%"]
  script src = "#{processing.ws_javascript}"
  javascript:
    var channel = "#{processing.ws_channel_id}";
    var client = new Faye.Client("#{processing.ws_route}");
    var bar = document.getElementsByClassName("progress-bar")[0];
    var reg = /\:(\d+)%/
    client.subscribe('/' + channel, function(message) {
      // Collect progressbar element and percentage
      var progress = bar.getAttribute("style")
      var currentProgress = reg.exec(progress)[1]
      
      if (isNaN(message)) {
        bar.setAttribute("style", "width:100%")
        bar.setAttribute("class", "progress-bar bg-danger progress-bar-striped")
        bar.innerHTML = message
      } else {
        if (parseInt(message) > parseInt(currentProgress)) {
          // Set the progress bar and percentage
          bar.setAttribute("aria-valuenow", message)
          bar.setAttribute("style", "width:"+message+"%")
          bar.innerHTML = message+"%"

          // Reload page at 100%
          if (message == "100") {
            setTimeout(function () {
              window.location.reload()
            }, 500);
          }
        }
      }
    });
-  else
  / Video and summary
  .row.align-items-center
    .col-12
      h3.title.mb-0
        = video_info.video_title
      span
        = video_info.published_date 
        = " - "
        = video_info.author_name
        
    .col-12.col-md-7.col-lg-7.col-xl-6
      iframe width="100%" height="350" src="https://www.youtube.com/embed/#{video_info.origin_id}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen
    .col-12.col-md-5.col-lg-5.col-xl.6.text-center
      #pie-container


  / navigator
  ul.nav.nav-tabs
    li.nav-item 
      a class="nav-link #{video_info.show_comments? ? 'active' : ''}" href="?view=comments" Comments
    li.nav-item 
      a class="nav-link #{video_info.show_comments_trend? ? 'active' : ''}" href="?view=comments-trend" Comments Sentiment Trend
    / li.nav-item 
    /   a class="nav-link #{video_info.show_video_trend? ? 'active' : ''}" href="?view=video-trend" Video Sentiment Trend
    li.nav-item 
      a class="nav-link " href="?view=video-sentiment" 
        h5.m-0 
          i.fa-solid.fa-rotate.text-primary.ms data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Update Comments"

  / No Comments
  - unless video_info.comments.any?
    button data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Update Comments" Test
    .h4.p-4.text-center.text-warning  The video requested does not have any comment yet. Please update try again later.

  / Comments trend
  - if video_info.show_comments_trend?
    #trend-container.mt-4
    #line-container.mt-4

  / Comments
  - if video_info.show_comments?
    .comments.mt-2
      .sentiments
        - video_info.sentiments.each do |sentiment|
          a class="btn m-1 #{sentiment.id == video_info.sentiment_selected ? 'btn-primary' : 'btn-outline-primary'}" href="#{video_info.sentiment_comments_url(sentiment.id)}"
            = sentiment.name_display

      - video_info.comments.each do |comment|
        .row.mb-4.mt-2
          .col-auto.pt-1
            - if comment.positive?
              i.fa-solid.fa-face-smile-beam.text-success
            - if comment.neutral?
              i.fa-solid.fa-face-meh-blank.text-secondary
            - if comment.negative?
              i.fa-solid.fa-face-frown.text-danger
            - if comment.mixed?
              i.fa-solid.fa-face-grimace.text-warning
          .col
            .comment-info
              span
                = comment.published_date 
                = " - "
                = comment.author_name
              img.ms-1 height="15" alt="#{comment.language_name}" src="#{comment.language_img}"
              span.ms-1
                = " - "
                = comment.language_name
            = comment.text_original

  
  
  / Day Comments

  javascript: 
    var comments_trend = {
      dates: [],
      positive: [],
      negative: [],
      neutral: [],
      mixed: [],
    };

  - video_info.comments.dates.each do |date|
    javascript: 
      comments_trend.dates.push("#{date}");
      comments_trend.positive.push(#{video_info.comments.positive_count(date:)});
      comments_trend.negative.push(#{video_info.comments.negative_count(date:)});
      comments_trend.neutral.push(#{video_info.comments.neutral_count(date:)});
      comments_trend.mixed.push(#{video_info.comments.mixed_count(date:)});

  javascript: 
    Highcharts.chart('line-container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Comments Sentiment Percentage',
            align: 'left'
        },
        xAxis: {
            categories: comments_trend.dates
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Count Comments'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: ( // theme
                        Highcharts.defaultOptions.title.style &&
                        Highcharts.defaultOptions.title.style.color
                    ) || 'gray',
                    textOutline: 'none'
                }
            }
        },
        legend: {
          itemStyle: {"color": "#ffffff"}
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true
                }
            }
        },
        series: [{
            name: 'Positive',
            color: "#5db85b",
            data: comments_trend.positive
        }, {
            name: 'Mixed',
            color: "#ffc008", 
            data: comments_trend.mixed
        }, {
            name: 'Negative',
            color: "#d9534f",
            data: comments_trend.negative
        }, {
            name: 'Neutral',
            color: "#4e5d6c",
            data: comments_trend.neutral
        }]
    });

  javascript:
    Highcharts.chart('trend-container', {
        chart: {
            type: 'area'
        },
        title: {
            text: 'Comments Sentiment Percentage Distribution',
            align: 'left'
        },
        accessibility: {
            point: {
                valueDescriptionFormat: '{index}. {point.category}, {point.y:,.1f} comments, {point.percentage:.1f}%.'
            }
        },
        legend: {
          itemStyle: {"color": "#ffffff"}
        },
        yAxis: {
            labels: {
                format: '{value}%'
            },
            title: {
                enabled: false
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.1f}%</b> ({point.y:,.1f} comments)<br/>',
            split: true
        },
        xAxis: {
            categories: comments_trend.dates
        },
        plotOptions: {
            area: {
                stacking: 'percent',
                marker: {
                    enabled: false
                }
            }
        },
        series: [{
            name: 'Positive',
            color: '#5db85b',
            data: comments_trend.positive
        }, {
            name: 'Mixed',
            color: "#ffc008",
            data: comments_trend.mixed
        }, {
            name: 'Negative',
            color: "#d9534f",
            data: comments_trend.negative
        }, {
            name: 'Neutral',
            color: "#4e5d6c",
            data: comments_trend.neutral
        }]
    });
  
  javascript: 
    var pieColors = ["#5db85b", "#ffc008", "#d9534f", "#4e5d6c"];

    // Build the chart
    Highcharts.chart('pie-container', {
      chart: {
        plotBackgroundColor: "#0f2537",
        type: 'pie'
      },
      title: {
        text: '#{video_info.comments_summary[:title]}'
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      accessibility: {
        point: {
          valueSuffix: '%'
        }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          colors: pieColors,
          dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b><br>{point.percentage:.1f} %'
          }
        }
      },
      series: [{
        name: 'Comments',
        data: [
          { name: 'Positive', y: #{video_info.comments_summary[:positive_count]} },
          { name: 'Mixed', y: #{video_info.comments_summary[:mixed_count]}},
          { name: 'Negative', y: #{video_info.comments_summary[:negative_count]} },
          { name: 'Neutral', y: #{video_info.comments_summary[:neutral_count]} }
        ]
      }]
    });
  

  