body {
  padding-bottom: 50px;
}
h1 {
  font-weight: 100;
  text-decoration: none;
}

.text-underline-hover {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  font-size: 65px;
}

.text-underline-hover:hover {
  text-decoration: none;
  color: #ffffff;
}

#show-video-submit {
  width: 100%;
}

.top-buffer {
  margin-top: 40px;
}

.posting.body {
  font-size: 1.2em;
}

.project.attribute {
  font-weight: sans-serif;
}

.subtitle {
  font-size: 35px;
  color: #ffff;
}

.video_desc {
  font-size: 14px;
  color: #ffffff;
  word-break: break-word;
}

.project.owner {
  font-weight: sans-serif;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
                                horizontally inside the column */
}

.top-buffer {
  margin-top: 20px;
}

.blank-row {
  height: 20px;
}

.blank-row-half {
  height: 10px;
}

.video_img1 {
  width: 100%;
  grid-column: 1;
  margin-right: 15px;
}

.video_img2 {
  height: 35px;
  grid-column: 1;
  margin-right: 15px;
}

.query-bar {
  color: #ffffff;
  font-size: 17px;
  padding: 5px 5px 5px 5px;
}

.query-bar2 {
  display: flex;
  justify-content: end;
  align-items: center;
  justify-items: center;
  color: #ffffff;
  padding: 5px 5px 5px 5px;
}

.query-bar-previews {
  color: #ffffff;
  font-size: 17px;
  padding: 5px 5px 5px 5px;
}

.filterDiv {
  float: left;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

footer {
  bottom: 0;
  width: 100%;
  padding: 10px 5px;
  font-size: 11px;
  color: #ffffff;
  background-color: #0f2437;
  position: fixed;
}

.fa-face-smile-beam {
  color: #5cb85c;
  font-size: 30px;
}

.fa-face-frown {
  color: red;
  font-size: 30px;
}
